<div class="container-sm">
    <h1>Force Direct Visualization</h1>

    <form method="GET"> <!-- By default the request is made to the origin URL -->
        <div class="input-group mb-3">
            <input name="tree" type="text" class="form-control" id="inputFile" formaction="/phyloviz/visualization">
            <button formaction="/phyloviz/visualization" class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
</div>